{% extends "base.html" %}
{% block content %}
<br>
<div style="padding: 10px">
    <pre>{{request}}</pre>
    <form method="GET" action="/">
        <div>
            <label>Duration
                <select name="duration" id="duration">
                    {%for d in durations %}
                    <option {%if d = 20 %} selected="selected" {%endif%} value="{{d}}">{{d}}</option>
                    {%endfor%}
                </select>
                minutes.
            </label>
            &nbsp;&nbsp;&nbsp;&nbsp;
            Preferred tutors (select none to use all):
            {%for t in tutors %}
            <label>
                <input type="checkbox" {%if t.selected %}checked{%endif%} name="preferred-tutors" value="{{t.id}}">&nbsp;{{t.name}}</label>&nbsp;
            {%endfor%}
        </div>
        <br>
        <button class="button is-primary">Search</button>
        <br>
        <br>
    </form>
    <h2 class="is-size-3">Duration: {{slots.duration}} minutes; Preferred tutors: {{slots.preferred-tutors}}</h2>
    {% for s in slots.calendar %}
    <hr>
    <h3 class="is-size-4">
        On {{s.date|date:shortDate}} {{s.tutor-name}} is available for {{slots.duration}} min speaking session:
    </h3>
    <pre class="is-size-7">{{ s.free-periods-timestamps }}</pre>
    <div class="table-container">
        <table class="table is-bordered is-narrow">
            <tr>
                {% for st in s.slots-by-type %}
                <td class="is-size-7
            {%if st.type = :reserved %} has-background-danger
            {%elif st.type = :free %} has-background-success
            {%elif st.type = :available %} has-background-warning
            {%else %}
            {% endif %}">
                    {{st.num}}<br>
                    {{st.time}}
                </td>
                {% endfor %}


            </tr>
        </table>
    </div>
    {% endfor %}
</div>
{% endblock %}
