{% extends "base.html" %}
{% block content %}
<br>
<div style="padding: 10px" class="content">
    <form method="GET" action="/">
        <div class="field">
            Period: from 2022-01-06 to 2022-01-08.
        </div>
        <div class="field">
            <label>Duration
                <select name="duration" id="duration">
                    {%for d in durations %}
                    <option value="{{d}}">{{d}}</option>
                    {%endfor%}
                </select>
                minutes.
            </label>
        </div>
        <div class="field">
            Preferred tutors (select none to use all):
            {%for t in tutors %}
            <label>
                <input type="checkbox" {%if t.selected %}checked{%endif%} name="preferred-tutors" value="{{t.id}}">&nbsp;{{t.name}}</label>&nbsp;
            {%endfor%}
        </div>
        <button class="button is-primary">Search</button>
        <br>
        <br>
    </form>
    <h2 class="is-size-3">
        Duration: {{slots-for-period.duration}} minutes;
        Preferred tutors: {%if slots-for-period.preferred-tutors %} {{slots-for-period.preferred-tutors}} {%else%} all
        {%endif%}
    </h2>
    {% for s in slots-for-period.slots %}
    <hr>
    <h3 class="is-size-4">
        On {{s.date|date:shortDate}} {{s.tutor-name}} is available for {{slots-for-period.duration}} min speaking
        session:
    </h3>
    <ul>
        {%for f in s.current-availability-timestamps %}
        <li>{{f.start|date:"HH:mm"}} to {{f.end|date:"HH:mm"}}</li>
        {%endfor%}
    </ul>
    <div class="table-container">
        <table class="table is-bordered is-narrow">
            <tr>
                {% for st in s.slots-on-grid %}
                <td class="is-size-7
            {%if st.type = :reserved %} has-background-danger
            {%elif st.type = :currently-available %} has-background-success
            {%elif st.type = :initially-available %} has-background-warning
            {%else %}
            {% endif %}">
                    {{st.num}}<br>
                    {{st.time}}
                </td>
                {% endfor %}


            </tr>
        </table>
    </div>
    {% endfor %}
</div>
{% endblock %}
